/* Navbar.css */

.navbar {
  background-color: #1b1b1b;
  color: #fff;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  display: inline-block;
  margin-left: 20px; /* Adjust space between items */
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.login,
.nav-link.signup,.logout-btn,.mycart-btn {
  font-weight: bold;
  text-decoration: none;
}

.right-section {
  display: flex;
  align-items: center;
}
.nav-link.login {
  margin-right: 10px; /* Add space between Login and Signup */
}
.btn {
  margin-right: 10px;
  display: inline;
  background-color: #dbe0dc;
  padding: 12px;
  border-radius: 10px;
  color: currentcolor;
  font-weight: bold;
  font-size: medium;
}
.badge-pill {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red; /* or any color you prefer */
  color: white;
  border-radius: 10px;
  padding: 5px 8px;
  font-size: 12px;
}
